<ion-header>
  <ion-navbar>
    <div id="header">Einstellungen</div>
    <div id="logo"><img src="assets/imgs/Dummy_Profile_02.png" (click)="goToProfile()"/></div>
  </ion-navbar>
</ion-header>

<ion-content class="background" padding>
  <ion-grid>
    <ion-row id = "clmm">
      <ion-col class = "darker" col-5 >Spieler</ion-col>
      <ion-col class = "darker" col-5 >Charakter</ion-col>
      <ion-col class = "darker" col-2 ></ion-col>
    </ion-row>
    <ion-row *ngFor="let item of players">
      <ion-col col-5 >{{item.teilnehmer}}</ion-col>
      <ion-col col-5>{{item.character}}  </ion-col>
      <ion-col col-2 ><ion-icon id="charIcon" name="contact" (click)="goToCharacter(item.charID)"></ion-icon></ion-col>
    </ion-row>
  </ion-grid>

  <ion-list>
    <ion-item class="background">
      <label class="my-label" stacked>RPG-Name</label>
      <div>{{rpg_name}}</div>
    </ion-item>

    <ion-item class="background">
      <label class="my-label" stacked>Genre</label>
      <div>{{genre}}</div>
    </ion-item>

    <ion-item class="background">
      <label class="my-label" stacked>RPG-Beschreibung</label>
      <div id="descr">{{rpg_description}}</div>
    </ion-item>

    <ion-item class="background">
      <label class="my-label" stacked>Admin</label>
      <div>{{admin}}</div>
    </ion-item>
  </ion-list>

  <button *ngIf="isAdmin" ion-button id="editButton" (click)="editSettings()">Bearbeiten</button>

</ion-content>
