page-settings{
  .background {
    background-color: #cbe9fb ;
  }
  ion-grid:first-child {background: #62c0e2}
  ion-row:nth-child(even) {background: #86cee9}
  ion-row:nth-child(odd) {background: #cbe9fb}
  .darker{
    background: #62c0e2
  }
  #logo {
    float: right;
    display: inline-block;
    max-height: 45px;
    max-width: 45px;
    margin-right: 2%;
  }
  #header{
    font-family: Carlito;
    float: left;
    display: inline-block;
    font-size: 35px;
    margin-left: 2%;
  }
  .my-label {
    font-weight: bold;
    color: #000000 !important;
    font-size: 16px !important;
  }
  #charIcon{
    font-size: 15pt;
  }
  ion-item:not(.error) .item-inner {
    border-color: black !important;
  }

  #descr{
    white-space: pre-line;
  }
}
