<ion-header>
  <ion-navbar>
    <div id="header">Chat</div>
    <div id="logo"><img src="assets/imgs/Dummy_Profile_02.png" (click)="goToProfile()"/></div>
  </ion-navbar>
</ion-header>

<ion-content #content>
  <ion-grid>
    <ion-row *ngFor="let message of messages">

      <ion-col col-9 *ngIf="message.spieler !== spieler" class="message" [ngClass]="{'my_message': message.spieler === spieler, 'other_message': message.spieler !== spieler}">
        <span class="user_name">{{ message.spieler }}:</span><br>
        <span>{{ message.message }}</span>
        <div class="time">{{message.createdAt | date:'dd.MM.yy HH:mm'}}</div>
        <div class="like_number" tappable (click)="likeMessage(message._id, message.likedBy, messages.indexOf(message))">{{message.likes}}
          <ion-icon class="heart" *ngIf="message.alreadyLiked" name="md-heart"></ion-icon> <ion-icon class="heart" *ngIf="!message.alreadyLiked" name="md-heart-outline"></ion-icon></div>
      </ion-col>

      <ion-col offset-3 col-9 *ngIf="message.spieler === spieler" class="message" [ngClass]="{'my_message': message.spieler === spieler, 'other_message': message.spieler !== spieler}">
        <span class="user_name">{{ message.spieler }}:</span><br>
        <span>{{ message.message }}</span>
        <div class="time">{{message.createdAt | date:'dd.MM.yy HH:mm'}}</div>
        <div class="like_number">{{message.likes}} <ion-icon class="heart" name="md-heart"></ion-icon></div>
      </ion-col>

    </ion-row>
  </ion-grid>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-row class="message_row">
      <ion-col col-9>
        <ion-item no-lines>
          <ion-input type="text" placeholder="Nachricht" [(ngModel)]="message"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col col-3>
        <button ion-button clear color="primary" (click)="sendMessage()" [disabled]="message === ''">
          Senden
        </button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
