page-chat {
  .background {
    background-color: #cbe9fb ;
  }
  #logo {
    float: right;
    display: inline-block;
    max-height: 45px;
    max-width: 45px;
    margin-right: 2%;
  }
  #header{
    font-family: Carlito;
    float: left;
    display: inline-block;
    font-size: 35px;
    margin-left: 2%;
  }

  .user_name {
    color: #00058F;
    font-weight: bold;
  }
  .message {
    padding: 10px !important;
    transition: all 250ms ease-in-out !important;
    border-radius: 10px !important;
    margin-bottom: 4px !important;
  }
  .my_message {
    background: #86cee9 !important;
    color: #000 !important;
  }
  .other_message {
    background: #FDD196 !important;
    color: #000 !important;
  }
  .time {
    color: #00342F;
    float: right;
    font-size: small;
  }
  .input{
    background: #eef9ff;
  }
  .Senden{
    color:#00058F;
    float: right;
    font-weight: bold;
  }
  .sendeButton{

  }
  .hBox{
    background-color: #62c0e2;
  }
  .message_row {
    background-color: #62c0e2;
  }

  .like_number {
    color: crimson;
  }

  .heart {
    font-size: 11pt;
  }

}
