page-character {
#notification{
  font-weight: bold;
  text-align: center;
}
  #avatar{
    display: block;
    margin: 0 auto;
    max-width: 300px;
    max-height: 300px;
    min-height: 100px;
    min-width: 100px;
  }
  .pButton{
    float: left;

    position: relative;
    right: -3%; /* or right 50% */
    text-align: left;
    margin-bottom: 15px;
  }
  .mButton{
    float: right;

    position: relative;
    left: -3%; /* or right 50% */
    text-align: left;
    margin-bottom: 15px;
  }
#avaButton{
  float: right;

  position: relative;
  left: -2%; /* or right 50% */
  text-align: left;
  margin-top: 15px;
  margin-bottom: 10px;
}
  .my-label {
    color: #000000 !important;
    font-size: 16px !important;
    background-color: ghostwhite;
  }

  .attrButton{
    float: right;
  }

  #background {
    background-color: #cbe9fb ;
  }

  #save{
    float: right;
    display: inline-block;
  }

  #header {
    float: left;
    display: inline-block;
    font-size: 35px;
    margin-left: 2%;
  }

  .table{
    background-color: ghostwhite;
  }

  .ItemSpace {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
  }

  #descr{
    white-space: pre-line;
  }
}
