page-character {

  #avatar{
    display: block;
    margin: 0 auto;
    max-width: 80%;
    max-height: 80%;
  }

  .my-label {
    color: #000000 !important;
    font-size: 16px !important;
  }

  .attrButton{
    float: right;
  }

}
