page-character {

  .background {
    background-color: #cbe9fb ;
  }

  #avatar{
    display: block;
    margin: 0 auto;
    max-width: 300px;
    max-height: 300px;
    min-height: 100px;
    min-width: 100px;
  }

  #my-label {
    color: #000000 !important;
    font-size: 16px !important;
    background-color: #cbe9fb ;
  }
  #editButton{
      float: right;
      display: inline-block;
  }

  #descr{
    white-space: pre-line;
  }
#header{
  background: #eef9ff;
  font-family: Carlito;
}

}
