<ion-header>
  <ion-navbar>
    <ion-title>
      Charakter
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="background" padding>
  <img id="avatar" [src]="profileImage">

  <ion-list >
    <ion-item class="background">
      <ion-grid>
        <ion-row>
          <ion-col><b>Name</b></ion-col>
          <ion-col>{{name}}</ion-col>
        </ion-row>
        <ion-row *ngFor="let item of attributes">
          <ion-col><b>{{item.attr}}</b></ion-col>
          <ion-col>{{item.value}}</ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item class="background">
      <label id="my-label" stacked><b>Beschreibung</b></label>
      <div id="descr">{{description}}</div>
    </ion-item>
  </ion-list>

  <button *ngIf="ownChar" ion-button color="mycolor1" id="editButton" (click)="editCharacter()">Bearbeiten</button>

</ion-content>
