page-chooseAvatar {

  #background {
    background-color: #cbe9fb ;
  }

  #addButton {
    margin-top: 2px;
    margin-bottom: 20px;
    font-size: 35px;
    color:  #f7931e;
    text-align: center;
  }

  .headline {
    font-size: 18px;
    color: #00342F;
  }
}
