<ion-header>
  <ion-navbar>
    <ion-title>
      Wähle einen Avatar
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content id="background" padding>

  <div class="headline">Eigene Avatare:</div>
  <ion-grid>
    <ion-row >
      <ion-col col-3 *ngFor="let file of images">
        <img (click)="chosenAvatar(file, images.indexOf(file))" [src]="file" >
      </ion-col>
    </ion-row>
  </ion-grid>

  <div id="addButton"><ion-icon name="add-circle" (click)="changeAvatars()"></ion-icon></div>

  <div class="headline">Standard-Avatare:</div>
  <ion-grid>
    <ion-row >
      <ion-col col-3 *ngFor="let file of standardImages">
        <img (click)="chosenAvatar(file, images.indexOf(file))" [src]="file" >
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

