page-profile {
  $farbe: #3BBFCE;
  #name{
    padding-top: 2%;
    margin-bottom: 5%;
    color: #488aff;
  }
  .input-cover {
    position: static;
  }
  #logo {
    float: right;
    display: inline-block;
    max-height: 45px;
    max-width: 45px;
    margin-right: 2%;
  }

  #header{
    float: left;
    display: inline-block;
    font-size: 35px;
    margin-left: 2%;
  }
  .background{
    background-color: #cbe9fb;
  }

  #nameitem{
    background-color: #cbe9fb;
    font-size: 20px;
  }
  #mailitem{
    background-color: #cbe9fb;
    font-size: 20px;
  }
  #passworditem{
    background-color: #cbe9fb;
    font-size: 20px;
    margin-bottom: 10%;
  }
  #line{
    width: 0%;
  }
  #passwordlabel{
    color: midnightblue;
    font-family: "Georgia";
  }
  #maillabel{
    color: midnightblue;
    font-family: "Georgia";
  }
  #namelabel{
    color: midnightblue;
    font-family: "Georgia";
  }
  ion-icon {
    font-size: 20px;
  }
  #editButton{
    position: absolute;
    right: 10%;
  }
  #logout{
    position: absolute;
    right: 10%;
    margin-top: 25%;
  }
  #saved{
    position: absolute;
    left: 10%;
    margin-top: 2%;
    font-size: 17px;
    color: black;
  }
  ion-item:not(.error) .item-inner {
    border-color: black !important;
  }
}
