page-settings-edit{
  #header{
    float: left;
    display: inline-block;
  }
  .my-label {
    font-weight: bold;
    color: #000000 !important;
    font-size: 16px !important;
  }
  #deleteIcon{
    font-size: 15pt;
  }
  ion-item:not(.error) .item-inner {
    border-color: black !important;
  }

  #descr{
    white-space: pre-line;
  }
}
