page-posts {

  #firstBox{
    border-style: groove;
  }

  #secondBox{
    border-style: groove;
  }

  .writeBox{
    border-style: groove;
  }

  #charName{
    font-family: Carlito;
    font-weight: bold;
    font-size: 20px;
    color: midnightblue !important;
  }

  #avatar{
    float: left;
    max-width: 80px;
    max-height: 80px;
    min-height: 40px;
    min-width: 40px;
  }
  #image{
    float: left;
    max-width: 80px;
    max-height: 80px;
    min-height: 40px;
    min-width: 40px;
  }
  #profile{
    float: right;
    display: inline-block;
  }

  #header{
    float: left;
    display: inline-block;
  }
  .col{
    border:  black;
  }

  .arrow{
    float: right;
    font-size: 20pt;
    margin-left: 15px;
  }

  #headPost{
    border-bottom: groove;

  }

  #send{
    float: right;
    padding: 0.5em;
    font-size: 20pt;

  }

  #myInput{
    width: calc(100% - 10px);
    height: 100px;
    border: 0;
    border-radius: 0;
    background: transparent;
  }
}
